@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(84, 84, 84);
    width: 12px;
    background-clip: padding-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: rgb(84, 84, 84);
  }

* {
    scroll-behavior: smooth;
}

html {
    background-color: rgb(55, 55, 58) !important;
}

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 14px;
    min-width: 350px !important;
    max-width: 350px !important;
    min-height: 490px !important;
    max-height: 490px !important;
    overflow: scroll;
    background-color: white !important;
}

p {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.switch-container:not(:first-of-type) {
    border-top: 1px solid;
}